*{
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #00adff;
}


.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}


.start .btns{
    margin-top: 50px;
}


.start .btns button{
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


.start .btns button:nth-child(1){
    margin-right: 20px;
    background-color: #ff5656;
    color: white;
    transition-duration: 0.3s;
}

.start .btns button:nth-child(1):hover{
    background-color: #f70101;
    color: white;
}


.start .btns button:nth-child(2){
    background-color: #ffa166;
    color: white;
    transition-duration: 0.3s;
}

.start .btns button:nth-child(2):hover{
    background-color: #f76101;
    color: white;
}


.players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.players div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players div h2{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    transition-duration: 0.3s;
    border-radius: 10px;
    cursor: default;
}

.players div:nth-child(1) h2{
    background-color: #ffa2a2;
    padding: 10px 40px;
    color: white;
}

.players div:nth-child(2) h2{
    background-color: #ffb485;
    padding: 10px 40px;
    color: white;
}

.players .player1{
    margin-right: 80px;
}




.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row .item{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 171, 88);
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}


.item:nth-child(1){
    border-right: 8px solid rgb(1, 11, 109);
    border-bottom: 8px solid rgb(1, 11, 109);
}

.item:nth-child(2){
    border-right: 8px solid rgb(1, 11, 109);
    border-bottom: 8px solid rgb(1, 11, 109);
}

.item:nth-child(3){
    border-bottom: 8px solid rgb(1, 11, 109);
}




.rod{
    position: absolute;
    background-color: #3df73d;
}

.gameEnd{
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.win{
    text-align: center;
    margin-top: 35px;
    font-size: 40px;
    color: #60ff00;
}



.again{
    margin-top: 30px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: #0606bb;
    color: white;
    transition-duration: 0.3s;
}


.again:hover{
    background-color: #02027b;
}